* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* Navigation Styles */
.navigation {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background: url('./images/footerBkg.jpg') center;
  color: #fff;
  border-bottom: 2px solid #fff;
  z-index: 100;
}

.navItems ul {
  display: flex;
  list-style: none;
  margin-left: 10%;
}

.navItems ul li {
  cursor: pointer;
  letter-spacing: 1.5px;
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.rightSide .cart {
  position: relative;
  color: #fff;
  margin-right: 5px;
}

.icons {
  font-size: 20px;
  margin-right: 60px;
}

/* Landing Page Styles */
.landingPage {
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.landingImage {
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 30%;
}

.mainHeading {
  padding-top: 20px;
  position: absolute;
  top: 20%;
  left: 2%;
  letter-spacing: 1.5px;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-family: 'Jim Nightshade', sans-serif;
}

.mainHeading2 {
  /* width: 5%; */
  padding-top: 20px;
  position: absolute;
  top: 30%;
  right: 4%;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: clamp(1.1rem, 1vw, 3rem);
  font-family: 'Jim Nightshade', sans-serif;
  /* visibility: hidden; */
}

.darkSpan {
  visibility: hidden;
}

/* Info Section Styles */
#infoSection {
  height: 50vh;
  background: url('./images/footerBkg.jpg') center;
}

.infoWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

.infoPara {
  font-size: clamp(1.1rem, 2vw, 2rem);
  margin-bottom: 10px;
}

.infoIcons {
  font-size: clamp(1.1rem, 4vw, 5rem);
  margin-bottom: 10px;
}

.shoppingAmt {
  position: absolute;
  top: 24px;
  right: 35px;
  color: #fff;
}

/* About section styles */
.aboutSection {
  height: 100vh;
  width: 100%;
  background: url('./images/salesBkg.jpg') center/cover;
  font-family: 'Jim Nightshade', sans-serif;
}

.scene,
canvas {
  position: relative;
}

.aboutInfo {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 55%;
  color: #fff;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(160, 119, 66);
  z-index: 1;
}

.aboutInfo h1 {
  font-size: clamp(1.2rem, 3vw, 5rem);
}

.aboutInfo p {
  font-size: clamp(1.1rem, 2vw, 3rem);
  margin-top: 10px;
}

/* Men And Women Styles */
.mensAndWomens {
  background: #000;
  padding: 20px 0;
  overflow: hidden;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.images .menImg {
  object-fit: center;
}

.mensAndWomens img {
  height: 625px;
  width: 500px;
  overflow: hidden;
}

.menImg,
.womenImg {
  position: relative;
}

.womensImage {
  object-fit: cover;
}

.men {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 25px;
  font-family: 'Jim Nightshade', cursive;
}

.women {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 25px;
  font-family: 'Jim Nightshade', cursive;
}

/* Exclusive Section Styles */
#salesSection {
  position: relative;
  background: url('./images/salesBkg.jpg') center/cover;
}

#heading2 {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 75px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: #fff;
  letter-spacing: 1.5px;
  font-family: 'Jim Nightshade', cursive;
}

.shirts {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
  padding: 120px 0;
}

.shirts img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

.shirts:hover .price {
  transform: translateX(0);
}

.price {
  position: absolute;
  bottom: 20px;
  left: 3.5px;
  background: url(images/priceBackGrd.jpg) center/cover;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
  height: 80px;
  width: 292px;
  transform: translateX(-302px);
  transition: 0.4s ease-in;
  cursor: pointer;
}

.addToCart {
  font-size: 0.8rem;
  margin-top: 5px;
}

.shirts p {
  padding-top: 5px;
  line-height: 25px;
  font-size: 25px;
}

.shirtCart {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translate(-50%, 1.5%);
}

.imagesActive {
  transform: translateX(0);
  transition: 0.5s ease-in;
}

/* Cart Page Styles */
.cartWrapper {
  background: url('./images/printsBackgrd.jpg') center/cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  right: 0;
  transform: translateX(100%);
  transition: 1s;
  overflow: hidden;
  z-index: 500;
}

.closeCart {
  position: absolute;
  top: 1%;
  left: 5%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.cartWrapperActive {
  transform: translateX(0);
}

.home {
  text-decoration: none;
  margin-left: 20px;
  font-size: clamp(0.8rem, 1.5rem, 2rem);
  color: #fff;
}

.cartItems {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #fff;
}

.cartHeading {
  padding: 10px 0;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;
}

.cartItems img {
  height: 100px;
  width: 100px;
  margin: 10px 6px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.itemInfo {
  margin: 0 auto;
  text-align: center;
}

.itemUnits {
  display: flex;
}

.units {
  margin: 0 auto;
  margin-top: 5px;
}

.minus,
.add {
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 5px;
  border-radius: 50%;
}

.minus {
  margin-left: 25px;
}

.add {
  margin-right: 25px;
}

.total {
  display: flex;
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.checkoutBtn {
  position: absolute;
  bottom: 5%;
  right: 25%;
  color: #fff;
  background: #000;
  font-size: 1.2rem;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.subtotal {
  margin-right: 5px;
  position: relative;
}

.amountSpan {
  margin-right: 5px;
}

.amount {
  margin-right: 5px;
}

.copyHeading {
  margin-left: 60px;
  letter-spacing: 1.5px;
  font-size: clamp(1rem, 2vw, 2rem);
}

#footer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('./images/footerBkg.jpg') center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.iIcons {
  margin-right: 40px;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

.iIcons i {
  margin: 0 10px;
  cursor: pointer;
}

.midFooter {
  line-height: 1.5;
}

.midFooter h2 {
  font-size: clamp(1rem, 2vw, 2rem);
}

@media (max-width: 1180px) {
  .mainHeading2 {
    left: -45%;
  }
}

@media (max-width: 1125px) {
  /* .mainHeading2 {
    left: 5%;
  } */

  .products {
    column-gap: 40px;
  }
}

@media (max-width: 945px) {
  .aboutInfo {
    left: 0%;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .products {
    column-gap: 40px;
  }
}

@media (max-width: 850px) {
  .navItems {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 625px) {
  #heading2 {
    padding: 0;
    margin: 0;
  }
  .mainHeading2 {
    display: none;
  }

  .salesSection img {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .landingImage {
    left: 10%;
  }
}

@media (max-width: 500px) {
  .landingImage {
    left: 0%;
  }
  .mainHeading {
    top: 3%;
    width: 50%;
  }
  .copyHeading {
    text-align: center;
    margin: 0;
    margin-top: 2px;
  }
  /* .mainHeading2 {
    top: 10%;
    right: 0;
  } */
  .womenImg img {
    object-position: left;
  }
  .men,
  .women {
    left: 15%;
  }
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 125px;
    width: 100%;
    display: block;
    /* text-align: center; */
  }
  .midFooter {
    text-align: center;
  }
  .lastPara,
  .iIcons {
    display: none;
  }
  .copyHeading {
    margin-right: 5px;
  }
}

@media (max-width: 450px) {
  .cartHeading {
    display: none;
  }
  .cartItems {
    margin-top: 60px;
  }
  .total {
    bottom: 1%;
  }
  .checkoutBtn {
    bottom: 1%;
  }
}

@media (max-width: 420px) {
  /* .mainHeading2 {
    display: none;
  } */
}

@media (max-width: 350px) {
  .men,
  .women {
    display: none;
  }
}
